<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>untitled</title>
	<style>
	h1
	{
		color:#2e4214;
		font-family: Tahoma, Helvetica, Arial;
		font-size: 18px !important;
	}

	h2
	{
		color:#2e4214;
		font-family: Tahoma, Helvetica, Arial;
		font-size: 14px !important;
	}

	*
	{
		font-size:12px;
	}
	</style>
</head>

<body>
<%=render :file => "/interviews/_resumo.html.erb"%>

</body>
</html>

